*{ padding: 0px; margin: 0px; 
   box-sizing: border-box; font-size: 12px;
}
li{ list-style: none;}
a{ color: black; text-decoration: none;}

/*============================== 레이아웃 ============================*/
/*=======전체=======*/
#wrap 
/*======= 헤더========*/
#header{
    width: 100%; display: contents; /* display: contents;는 보이진 않지만 sticky처럼 쓰임 */
}
#sideH > ul{ 
    display: flex;
    justify-content: flex-end; 
    
    
}
#sideH > ul >li{
    border-right: 1px solid black; 
    font-size: 14px;
    padding-left: 20px; padding-right: 20px; }

/*========= 메인=======*/
#content{ width: 1600px; margin: 0 auto;}

/*=========푸터=========*/
#footer{ width: 100% ;}